<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="fr.g123k.flutterappbadge.flutterappbadger">
    <application>
        <service
            android:name="fr.g123k.flutterappbadger.BadgeIntentService"
            android:exported="false"/>
    </application>

</manifest>
